
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: udemy sans, -apple-system, BlinkMacSystemFont, Roboto, segoe ui, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji, segoe;
}
.nav-container {
 
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 99999;
  height: 75px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
  flex-direction: row;
  display: flex;
  font-weight: 400;
  font-size: 0.8rem;
  width: 100%;
}

.BTNN{
  border: none;
  background-color: #ffffff;
  width: 10%;
}

.BTNN2{
  display: none;
}

.WW{
  border: none;
  background-color: #ffffff;
  width: 10%;
}

.input1{
  width: 80%;
  margin-left: 10px;
  margin-right: 10px;
  height: 45px;
  background-color: rgb(245, 245, 245);
  border-width: 1px;
  border-radius: 70px;
  align-items: center;
  justify-content: center;
  align-self: 'center';
  text-align: center; 
}

.mySearch{
  width: 70%;
  height: 70%;
  background-color: #ffffff;
}

.iconN{
  width: 30px;
  height: 34px;
}

.icon img{
  width: 80px;
  height: 34px;
  margin-left:10px ;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}
.nav-text{
  margin-left: 15px;
  text-decoration: none;
  color: #1c1d1f;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}
.searchbar {
  display: flex;
  flex-grow: 1;
} 
.searchbar form{
  display: flex;
  flex-grow: 1;
}
.searchbar form input{
  height: 3px;
 
  border: 1px solid #1c1d1f;
  border-radius: 100px;
  text-align: left;
  padding: 22px;
  background-color: #f7f9fa;
  margin: 0 1.2rem;
  display: flex;
  flex-grow: 1;
}
.search-icon{
  width: 25px;
  height: 25px;
  top: 25px;
  left: 208px;
  position:absolute;
}
.shopicon{
  background-image: url('images/cart.png');
  background-size: cover;
  width:25px;
  height: 25px;
  border: none;
  margin-left: 15px;
  cursor:pointer;
  flex-grow: 1;

}

.fill{
  width: auto;
  flex-grow: 10;
  margin-left: 20px;
  display: flex;
}

.inpu1{
  width: 100%;
}

.input2{
  visibility: hidden;
  width: 0%;
}

.login-button{
  background-color: white;
  width:75px;
  height: 35px;
  margin-left: 15px;
  cursor:pointer;
  flex-grow: 1;

}
.login-button:hover{
  background-color: rgb(235, 235, 235);
}
.signup-button{
  background-color: black;
  width:75px;
  height: 35px;
  margin-left: 15px;
  cursor:pointer;
  color: white;
  flex-grow: 1;

}
.signup-button:hover{
  background-color: rgb(36, 35, 35);
}
.language{
  width:35px;
  height: 35px;
  margin-left: 15px;  
  border: solid;
  cursor:pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.language img{
  width: 20px;
  height: 20px;
}
.language:hover{
  background-color: rgb(235, 235, 235);
}
.toggle{
  flex-grow: 1;
  display: none;
  align-items: left;
  width: 20px;
  height: 20px;
}
.alarm-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.alarm2-container{
  display: block;
  justify-content: center;
  align-items: center;
}
.alarm{
  position: relative;
  width: 100%;
}
.alarm2{
  display: none;
  position: relative;
}
.text1{
  top: 15%;
  height: 185px;
  background:white;
  position:absolute;
  /* z-index: 1; */
  left: 12%;
  box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);

}


.text1 h1{
  margin-top: 20px;
  margin-left: 20px;
  font-size: 34px;
}
.text1 p{
  margin-top: 10px;
  margin-left: 20px;
  font-size: 18px;
}
.text2{
  margin-top: 40px;
  margin-left: 110px;

}
.text2 h1{
  font-size: 30px;
}
.text2 p{
  margin-top: 10px;
  margin-left: 15px;
  font-size: 18px;
}
.kind{
  display: flex;
  color: rgb(130, 130, 130);
  font-weight: bold;
}
.kind div{
  margin-top: 10px;
  margin-left: 15px;
}
.space{
  margin-left: 10px;
}


.text3{
  border-style: double;
  border: solid ;
  border-color: silver;
  margin-top: 20px;
  margin-left: 9%;
  margin-bottom: 20px;
  width: 80%;
  height: auto;
  background:white;
}

.text3s3{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-content: center;
}

.text3s1{
  margin-top: 32px;
  margin-left: 40px;
  margin-bottom: 80px;
}

.text3s1 h1{
  font-size: 25px;
  margin-bottom: 10px;
}
.explore{
  background-color: white;
  width:110px;
  height: 35px;
  font-weight: bold;
  text-align: center;
  cursor:pointer;

}
.explore:hover{
  background-color: rgb(235, 235, 235);
}
.text3s2{
  display: flex;
  justify-content: center;
  margin-top: 60px;
  position: relative;
}

.text3s2 img{
  width: 30px;
  margin-left: 20px;
}
.courses{
  top: 400px;
  width: 1;
  background:rgb(255, 255, 255);
  margin-left: auto;
  font-size: 14px;
}

.coursesP{
  margin-top: 5px;
  font-size: 12px;
}


.NavbarSection{
  background-color: #1c1d1f;
  width: 100%;
  
}

.NavbarSection .margin-md{
  margin-left: 10%;
  
}

.NavbarSection .col{
 padding-top: 20px;
  color: #e469e4;
}

.NavbarSection h2{
  color: #f7f9fa;
}

.NavbarSection h5{
  color: #f7f9fa;
}


.about{
  border-style: double;
  border: solid ;
  border-color: silver;
  border-width: 1px;
  margin-top: 40px;
  margin-bottom: 20px;
  
  background:white;
 
}

.fit{
  width: 100%;
}

.smallCon{
  
}


.MerAll{
  margin-left: 9%;
}

.top{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.mar{
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.mar span{
  margin-left: 10px;
}


.about h3{
  margin-top: 15px;
  margin-left: 15px;
}


.foo{
  padding-bottom: 10%;
  background-color: #1c1d1f;
  color: #f7f9fa;
}

.last{
  background-color: rgba(0, 0, 0, 0.025) ;
}

.wrapper{
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.inside{
  margin-top: 40px;
  margin-right: 100px;
  margin-left: 50px;
  font-size: 14px;
}

.wrapper2{
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.wrapper2 a{
  margin-bottom: 6px;
}

.reset{
  text-decoration: none;
  color: #f7f9fa;
}


.right{
  margin-left: 88%;
  color: #ffffff;
  font-size: 13px;
}

.resetimg{
  margin-left: 4%;
  height: 50px;
  width: 100px;
}

.WarrpCol{
  display: flex;
  flex-direction: column;
}

.restyle{
  text-decoration: none;
  padding: 10px;
  color: #1c1d1f;
}

.dowN{
  margin-bottom: 10px;
}

.dowNM{
  margin-bottom: 30px;
  margin-top: 40px;
}

.toLeft{
  margin-left: 5px;
}

.link-muted { color: #aaa; } .link-muted:hover { color: #1266f1; }

.comment{
  
  border-style: double;
  border: solid ;
  border-color: silver;
  border-width: 1px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.star{
  margin-left: 80px;
}

.feedback{
  

  margin-top: 40px;
  margin-bottom: 20px;
}

.feedall{
  width: 100%;
  display: flex ;
  flex-direction: row;
  margin-bottom: 10px;
  
}

.feed{
  width: 70%;
  background-color: #aaa;
  height: 10px;
}

.f85{
  width: 85%;
  height: 100%;
  background-color: #1c1d1f;
}

.f75{
  width: 75%;
  height: 100%;
  background-color: #1c1d1f;
}

.f50{
  width: 50%;
  height: 100%;
  background-color: #1c1d1f;
}

.f25{
  width: 25%;
  height: 100%;
  background-color: #1c1d1f;
}

.f10{
  width: 10%;
  height: 100%;
  background-color: #1c1d1f;
}

.instructors{
  
  margin-top: 20px;
  margin-bottom: 20px;
}

.insP{
  font-size: 16px;
  color: rgb(146, 139, 139);
}

.insDup{
  display: flex;
  flex-direction: row;
  height: 112px;
  width: 100%;
}

.sora{
  height: 100%;
  width: 60px;
}

.instMar{
  margin-left: 60px;
}

.instMarP{
  font-size: 14px;
  margin: 0px 0px 0px 16px;
}

.instMarPP{
  font-size: 14px;
  margin:16px;
}


.instMarDiv{
  display: flex;
  flex-direction: row;
  margin: 0px ;
  height: 30px;
}

.PP{
  margin-left: 13px;
}

.Requir{
  
  margin-bottom: 30px;
  margin-top: 30px;
}

.Descriptions{
  
  margin-bottom: 30px;
  margin-top: 30px;
}

.desc{
  font-size: 14px;
  margin: 8px 0px 0px;
}

.Create{
  
}

.CreateDi{
  display: flex;
  flex-direction: row;
 
}

.CreateDiD{
  display: flex;
  flex-direction: row;
  padding-bottom: 40px;
}

.Down{
  margin-bottom: 20px;
}

.CW{
  color: #f7f9fa;
  margin-left: 5px;
  font-size: 14px;
}

.CWW{
  color: #f7f9fa;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 14px;
}

.W{
  color: #f7f9fa;
  font-size: 14px;
  flex-grow: 1;
}

.WNav{
  font-size: 14px;
  color: #f7f9fa;
}

.C{
  font-size: 14px;
}


.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  right: 0;
  padding: 5px;
  height: 650px;
  width: 50%;
  box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
  margin-left: 10%;
  margin-right: 10%;
}

.BUtn{
  width: 90%;
  margin-bottom: 10px;
}


.FlayP{
  font-size: 12px;
  text-align: center;
}

.FlayPPP{
  font-size: 12px;
  text-align: center;
  color: #f7f9fa;
}
.toStaky{
  display: flex;
  flex-direction: row;
}

.Weg{
  width: 100%;
}

.Margin-all{
  margin: 20px;
}

.FlyRow{
  display: flex;
  flex-direction: row;
  height: 16px;
  margin-bottom: 10px;
}

.FlyCol{
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.FlyColl{
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  padding-top: 30px;
  padding-bottom: 40px;
}

.resetA{
  color: #1c1d1f;
  margin-left: 10px;
  font-size: 15px;
}

.resetAA{
  color: #ffffff;
  flex-grow: 1;
  font-size: 15px;
}

.MaeDown{
  padding-bottom: 10px;
}

.FlayPP{
  margin-left: 20px;
  font-size: 13px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-bottom: 0px;
}

.FlayPPP{
  font-size: 15px;
}

.respon{
  display: none;
}

.CreatePop{
  
  height: auto;
  background-color: #f7f9fa;
  border-style: double;
  border: solid ;
  border-color: silver;
  border-width: 1px;
}

.Pop_ya_pop{
  margin: 10px;
}

.Popsmal{
  font-size: small;
  color: rgb(3, 119, 23);
}
.popdown{
  margin-bottom: 10px;
}

.popP{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.POPmar{
  margin-bottom: 6px;
}

.btnN-primary, .btnN-primary:hover, .btnN-primary:active, .btnN-primary:visited {
  background-color: #a331a3 !important;
  width: 140px;
}

.too{
  margin-left: 90px;
}

/* -------------------------------------------------------------- */



/* --------------------------------------------------------------- */


.cards-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
}

.card img {
  max-width: 100%;
  max-height: 100%;
}
.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  border-radius: 0;
}




.checked {
  color: orange;
}

.carousel-control-prev-icon {
  background-image: url('https://cdn0.iconfinder.com/data/icons/user-interface-solid-23/24/Arrow_Left_Square-512.png') !important;
 }
 
.carousel-control-next-icon {
   background-image: url("https://cdn0.iconfinder.com/data/icons/user-interface-solid-23/24/Arrow_Right_Square-512.png") !important;
 }


/* -------------------------------------------------------------- */



@media screen and (max-width: 1000px ){
  .respon{
    display: block;
  }
}

@media screen and (max-width: 1000px ) {
  
  .WW{
    display: none;
  }
  .BTNN{
    display: none;
  }
  .input1{
    display: none;
  }
  .sticky{
    display: none;
  }
  .nav-text{
      display: none;
  }
  .searchbar{
      display: none;
  }
  .language{
      display: none;
  }
  .signup-button{
      display: none;
  }
  .login-button{
      display: none;
  }
  .shopicon{
      display: none;
  }
  .toggle{
      display: flex;
  }
  .nav-container{
      justify-content: center;
      display: flex;
  }
  .icon{
      display: flex;
      margin-left: 40%;
  }
  .alarm{
      display: none;
  }
  .alarm2{
      display: flex;
  }
  .text1{
      width:350px;
      height: 185px;
      background:white;
      margin: 0;
      position: relative;
      left: 0.5%;
      margin-top: -20px;
  }
  .text3s3{
      display:flex

  }
  .alarm-container{
      margin-bottom: 250px;
  }
  .search-icon{
      display: none;
  }
}